.top {
	&-img {
		background-image: url("top.jpg");
		background-size: cover;
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&-text {
			font-size: 28px;
			font-weight: bold;
			letter-spacing: 3px;
		}
	}

	&__title {
		font-size: 32px;
		color: #4a4a4a;
		letter-spacing: 2px;
		padding: 20px 0 40px;
	}
  }
  
  .card {
		color: black;

		&-product-name {
			padding: 12px;
		}
Ï€
		&-quantity {
			padding: 12px;
		}

		&__total-price {
			padding: 12px;
		}

		&__btn-trash {
			padding: 12px;
		}

		&:hover {
			transform: scale(1.01);
			transition-duration: 0.5s;
		}
  
    &-img {
      height: 440px;
      background-size: cover;
    }
  }
  
  .product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    &-img {
      height: 500px;
      margin-top: 40px;
    }
  
    &-cart-img {
      height: 120px;
      width: 110px;
    }
  
    &__content-header {
      padding: 40px 0 40px;
    }
  
    &__name {
      font-size: 32px;
      color: #4a4a4a;
      letter-spacing: 2px;
      margin-bottom: 4px;
    }
  
    &__price {
      font-size: 12px;
      color: #4a4a4a;
      letter-spacing: 1px;
    }
  
    &__quantity {
      padding: 24px 0 12px;
  
      input {
        width: 100%;
      }
    }
  
    &__btn-add-cart {
      padding: 12px 0 12px;
    }
  }
  
  .cart {
    &-wrapper {
      width: 720px;
      margin: 20px;
  
      .card-body {
        display: flex;
        align-items: center;
  
        .card__btn-trash {
          a {
            color: black;
          }
        }
      }
    }
  
    &__title {
      font-size: 24px;
      color: #4a4a4a;
      letter-spacing: 1px;
      margin: 20px 0 20px;
    }
  
    &__sub-total {
      font-size: 16px;
      color: #4a4a4a;
      letter-spacing: 1px;
    }
  
    &__empty {
      font-size: 16px;
      color: #4a4a4a;
      letter-spacing: 1px;
    }
  }
  
  .col-lg-4,
  .col-md-6 {
    margin-bottom: 24px;
  }
  
  a,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }
  
  .navbar {
    .container {
      a {
        color: black;
      }
    }
  }
  
  
  @media (max-width: 600px) {
    .top {
      &-img {
        background-image: url("top2.jpg");
        height: 300px;
      }
    }
  }
  
  @media (max-width: 760px) {
    .card {
      &-img {
        height: auto;
        max-height: 700px;
      }
    }
  }
  