<nav class="navbar navbar-light bg-light">
  <div class="container">
    <%= link_to "Techpit Clothes", root_path, class: "navbar-brand" %>
    <%= link_to "http://example.com" do %>
      <i class="fas fa-shopping-cart"></i>
    <% end %>
  </div>
</nav>
